DEPLOYER_PRIVATE_KEY=
GOVERNANCE_ADDRESS=
ETHERSCAN_API_KEY=

# Networks
QUANTAUREUM_RPC=https://testnet-rpc.quantaureum.com
QUANTAUREUM_CHAIN_ID=1669

# Relayer
RELAYER_ADDRESS=
RELAYER_PUBLIC_KEY_BASE64=

# Tokens (Testnet)
WRAPPED_ETH_ADDRESS=
WRAPPED_USDC_ADDRESS=
WRAPPED_USDC_UNDERLYING=

# Gas
REPORT_GAS=true
COINMARKETCAP_API_KEY=
